<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>bomb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,491},{83,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,118}}</string>
                <key>sourceSize</key>
                <string>{83,118}</string>
            </dict>
            <key>bomb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,164},{82,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,59}}</string>
                <key>sourceSize</key>
                <string>{82,59}</string>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,611},{11,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,20}}</string>
                <key>sourceSize</key>
                <string>{11,20}</string>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,248},{95,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{95,20}}</string>
                <key>sourceSize</key>
                <string>{95,22}</string>
            </dict>
            <key>enemy1_blowup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,248},{66,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,32}}</string>
                <key>sourceSize</key>
                <string>{66,32}</string>
            </dict>
            <key>enemy1_blowup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,491},{66,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,32}}</string>
                <key>sourceSize</key>
                <string>{66,32}</string>
            </dict>
            <key>enemy1_blowup_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,413},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{66,32}</string>
            </dict>
            <key>enemy1_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,345},{66,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,32}}</string>
                <key>sourceSize</key>
                <string>{66,32}</string>
            </dict>
            <key>enemy2_blowup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,561},{65,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{65,113}}</string>
                <key>sourceSize</key>
                <string>{65,115}</string>
            </dict>
            <key>enemy2_blowup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,561},{65,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{65,113}}</string>
                <key>sourceSize</key>
                <string>{65,115}</string>
            </dict>
            <key>enemy2_blowup_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,561},{65,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{65,113}}</string>
                <key>sourceSize</key>
                <string>{65,115}</string>
            </dict>
            <key>enemy2_blowup_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,561},{65,77}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{65,77}}</string>
                <key>sourceSize</key>
                <string>{65,115}</string>
            </dict>
            <key>enemy2_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,567},{65,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,115}}</string>
                <key>sourceSize</key>
                <string>{65,115}</string>
            </dict>
            <key>enemy2_hit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,561},{65,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,115}}</string>
                <key>sourceSize</key>
                <string>{65,115}</string>
            </dict>
            <key>enemy3_blowup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,1},{161,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,325}}</string>
                <key>sourceSize</key>
                <string>{161,325}</string>
            </dict>
            <key>enemy3_blowup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,1},{161,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,325}}</string>
                <key>sourceSize</key>
                <string>{161,325}</string>
            </dict>
            <key>enemy3_blowup_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,1},{161,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,325}}</string>
                <key>sourceSize</key>
                <string>{161,325}</string>
            </dict>
            <key>enemy3_blowup_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,328},{161,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,325}}</string>
                <key>sourceSize</key>
                <string>{161,325}</string>
            </dict>
            <key>enemy3_blowup_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1},{161,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,325}}</string>
                <key>sourceSize</key>
                <string>{161,325}</string>
            </dict>
            <key>enemy3_blowup_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,1},{161,227}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,58},{161,227}}</string>
                <key>sourceSize</key>
                <string>{161,325}</string>
            </dict>
            <key>enemy3_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,328},{161,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,325}}</string>
                <key>sourceSize</key>
                <string>{161,325}</string>
            </dict>
            <key>enemy3_hit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,164},{161,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,325}}</string>
                <key>sourceSize</key>
                <string>{161,325}</string>
            </dict>
            <key>hero_blowup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,491},{68,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,114}}</string>
                <key>sourceSize</key>
                <string>{68,114}</string>
            </dict>
            <key>hero_blowup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,491},{68,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,114}}</string>
                <key>sourceSize</key>
                <string>{68,114}</string>
            </dict>
            <key>hero_blowup_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,491},{68,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,114}}</string>
                <key>sourceSize</key>
                <string>{68,114}</string>
            </dict>
            <key>hero_blowup_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,561},{66,78}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{66,78}}</string>
                <key>sourceSize</key>
                <string>{68,114}</string>
            </dict>
            <key>hero_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,491},{68,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,114}}</string>
                <key>sourceSize</key>
                <string>{68,114}</string>
            </dict>
            <key>hero_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,491},{68,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,114}}</string>
                <key>sourceSize</key>
                <string>{68,114}</string>
            </dict>
            <key>lvup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,491},{74,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,122}}</string>
                <key>sourceSize</key>
                <string>{74,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stockMarket.pvr</string>
            <key>size</key>
            <string>{2019,642}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e096eedfcd82be96f925452780267d94:4f7389de7fcdba937915f237570ce78f:f7de5b4e8a7094f25dd86ff29cf6b87b$</string>
            <key>textureFileName</key>
            <string>stockMarket.pvr</string>
        </dict>
    </dict>
</plist>
